@import 'tailwindcss';
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face 
{
  font-family: "Departure";
  src: url("./fonts/DepartureMonoNerdFontMono-Regular.otf") format("opentype");
  font-style:italic;
  font-weight:normal;
}
@theme
{
  --font-family-sans: "Departure", ui-sans-serif, system-ui, sans-serif;
}

main
{
  font-family: "Departure";
}
