@import 'tailwindcss';
:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face 
{
  font-family: "Silver";

  src: url("./fonts/Silver.woff2") format("woff2");
  font-style:regular;
  font-weight:normal;
}
@theme
{
  --font-family-sans: "Silver", ui-sans-serif, system-ui, sans-serif;
}

main
{
  font-family: "Silver";
}

.sync-pulse {
  animation: sync-pulse-anim 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.sync-bounce {
  animation: sync-bounce-anim 3s ease-in-out infinite alternate}


  @keyframes sync-pulse-anim {
    0%, 100% { 
      opacity: 1; 
    }
    50% { 
      opacity: 0.6; 
    }
  }

  @keyframes sync-bounce-anim {
    0%, 100% { 
      transform: translateY(0); 
    }
    50% { 
      transform: translateY(-25%); 
    }
  }

@layer components {
  @keyframes typing {
    0%   { width: 0 }
    40%  { width: var(--typing-width) }
    56%  { width: var(--typing-width) }
    100% { width: 0 }
  }

  .animate-typing {
    display: inline-block;    /* so width can animate */
    overflow: hidden;
    white-space: nowrap;
    animation:
      typing calc(var(--character-count) * 1.5s) steps(var(--character-count)) infinite;
  }
}

